<%if(data.cityFlag){%>
<div class="title">
  <h2>项目概况</h2>
</div>

<div class="inner-boxer inner-project">
  <div class="header">
    <div class="column">
      <h3>项目总数</h3>
      <div class="num"><%=data.total || 0%>个</div>
    </div>
    <div class="column">
      <h3>待建</h3>
      <div class="num"><%=data.beBuild || 0%>个</div>
    </div>
    <!-- <div class="column">
      <h3>新建</h3>
      <div class="num"><%=data.newBuild || 0%>个</div>
    </div> -->
    <div class="column">
      <h3>在建</h3>
      <div class="num"><%=data.building || 0%>个</div>
    </div>
    <div class="column">
      <h3>竣工</h3>
      <div class="num"><%=data.builded || 0%>个</div>
    </div>
    <div class="column">
      <h3>完工</h3>
      <div class="num"><%=data.complete || 0%>个</div>
    </div>
    <div class="column">
      <h3>停工</h3>
      <div class="num"><%=data.stopBuild || 0%>个</div>
    </div>
  </div>
  <div class="select-wrap">
    <div class="area-button">
      <ul class="button-group">
        <li><button class="small blue button" disabled data-type="area">按地区</button></li>
        <li><button class="small blue button" data-type="type">按类型</button></li>
      </ul>
    </div>
    <div class="select-year">
      <!-- <select data-type="project" class="form-control">
        <option value="2019">2019年</option>
        <option value="2018">2018年</option>
        <option value="2017">2017年</option>
      </select> -->
    </div>
  </div>
  <div class="project-chart" id="projectChart">

  </div>
</div>
<%}else{%>
<div class="title">
  <h2>项目基本信息</h2>
</div>
<div class="inner-boxer">
  <div class="detail-list">
    <p><span><%=data.pjName%></span></p>
    <p><span><%=data.pjType%></span></p>
    <p><span>计划投资：</span><b><%=data.planInverst%></b></p>
    <p><span>计划工期：</span><b><%=data.planDate%></b></p>
    <p><span>建设单位：</span><b><%=data.deveUnit%></b></p>
    <p><span>项目法人：</span><b><%=data.people%></b></p>
  </div>
</div>
<%}%>