<div class="title">
  <h2>工程质量</h2>
</div>
<div class="inner-boxer">
  <div class="quality-chart">
    <div class="box-pie">
      <div class="pie-item" id="pieYS" data-type="list"></div>
      <div class="pie-item" id="pieYL" data-type="yllList"></div>
    </div>
    <div class="box-pie">
      <div class="pie-item" id="pieMG" data-type="mglList"></div>
      <div class="pie-item">
        <div class="quality-info">
          <span>质量事故</span>
          <b><%=serious%></b>
          <strong>个</strong>
        </div>
        <div class="quality-info">
          <span>质量缺陷</span>
          <b><%=defect%></b>
          <strong>个</strong>
        </div>
      </div>
    </div>
  </div>
</div>