<div class="computed-wrapper">
  <% if(row.level == 3){%>
  <div class="subject boxer">
    <div class="ay_wrap">
      <div class="header">
        <h3>隶属计算</h3>
        <a href="javascript:void(0)" class="btn btn-primary btn-lhzb-save">保存量化指标</a>
      </div>
      <div class="ay-body">
        <div id="sujectTableList"></div>
      </div>
      <p class="txt">请输入影响等级值(0.0~1.0)</p>
    </div>
  </div>
  <%} else{%>
  <div class="result boxer">
    <label>分析结果：</label>
    <div class="value"><%=row.result%></div>
  </div>
  <%}%>
  <div class="analyze boxer">
    <div class="ay_wrap">
      <div class="header">
        <h3>权重分析</h3>
        <a href="javascript:void(0)" class="btn btn-primary btn-weight-analyze">计算权重</a>
      </div>
      <div class="ay-body">
        <div class="top">
          <div class="item">
            <label>CR</label>
            <input type="text" class="form-control" id="computedCR" value="" readonly>
          </div>
          <div class="item">
            <label>权重结果</label>
            <input type="text" class="form-control" id="computedResult" value="" readonly>
          </div>
        </div>
        <div id="analyzeTableList"></div>
      </div>
    </div>

  </div>
  <div class="allEval boxer">
    <div class="ay_wrap">
      <div class="header">
        <h3>综合评估向量</h3>
      </div>
      <div class="ay-body">
        <div class="top">
          <div class="item">
            <label>分析结果</label>
            <input type="text" id="analyzeResult" class="form-control" value="<%=row.result%>" readonly>
</div>
</div>
<div class="cont-result">
  <label style="width:82px;">综合评估向量(B=W.R)</label>
  <textarea id="result_zhpgxl" readonly class="form-control"></textarea>
</div>
</div>
</div>
</div>
</div>