<div class="single-wrap">
  <%if(!row){%>
  <form role="form" id="singleForm">
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="fcmc">单项工程名称*</label>
        <input type="text" class="form-control" id="name" name="name" autocomplete="off">
      </div>
    </div>
    <div class="risk-incident-edit">
      <div class="incident-button">
        <a href="javascript:void(0)" class="btn btn-info">添加风险事件</a>
      </div>
      <div class="incident-wrapper">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td width="20%" align="center">风险事件</td>
              <td width="60%" align="center">风险指标</td>
              <td width="20%" align="center">操作</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </form>
  <%}%>  
</div>