<div class="menu-wrapper">
  <input type="hidden" id="tId" name='tId' value="" />
  <input type="hidden" id="tName" name='tName' value="" />
  <div class="menu-boxer">
    <section class="treeselct full-height auto-scroll">
      <div id="chooseMenuTree"></div>
    </section>
    <section class="menueditor">
      <div class="row">
        <form role="form" id="searchForm">
          <div class="query_group query_group_w10 row_m10">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-block btn-primary zdy-btn-add">新增</button>
          </div>
        </form>
      </div>
      <div style="padding:10px;">
        <table id="menuTable"></table>
      </div>
    </section>
  </div>
</div>
<div id="editTmpl"></div>
<div id="menuJstree" style="display:none"></div>