<div class="general-inner">
  <div class="searchRow form-inline">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="单项风险名称" id="searchGeneralText">
      <button class="btn btn-primary btn-search">查询</button>
    </div>
    <div class="form-group">
      <button class="btn btn-info zdy-btn-add">新增单项风险</button>
    </div>
  </div>
  <table id="listGeneralTable"></table>
</div>

<div id="generalDetailTmpl"></div>
<div id="editGeneralTmplWrap"></div>
<div id="singleItemsTmplWrap"></div>

<div id="riskIncidentListTmplWrap"></div>

<div id="targetListTmplWrap"></div>

<div id="weightComputedTmplWrap"></div>