<div class="analyze-wrapper">
  <div class="row">
    <p class="col-md-6">分析状态：</p>
    <p class="col-md-6">CR：</p>
    <p class="col-md-6">分析结果：</p>
  </div>
  <div class="analyze-btn">
    <% var data = JSON.stringify(row);%>
    <button class="btn btn-primary btn-weight-computed" data-row='<%=data%>'>权重计算</button>
    <button class="btn btn-info btn-add-single">添加单项工程</button>
  </div>
  <div class="analyze-table-list">
    <table id="treetable"
      class="table table-bordered table-condensed table-hover table-striped fancytree-fade-expander">
      <colgroup>
        <col width="5%">
        </col>
        <col width="5%">
        </col>
        <col width="30%">
        </col>
        <col width="25%">
        </col>
        <col width="10%">
        </col>
        <col width="25%">
        </col>
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>风险名称</th>
          <th>数值</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>