<div class="coll-tmpl-wrapper">
  <%if(!row){%>
  <form role="form" id="collForm">
    <div class="row">
      <div class="form-group col-sm-6">
        <label>风险事件名称*</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group col-sm-6">
        <label>是否生效</label>
        <div class="radio-wrapper">
          <div class="radio">
            <label>
              <input type="radio" name="sfsx" value="1" checked>
              是
            </label>
          </div>
          <span></span>
          <div class="radio">
            <label>
              <input type="radio" name="sfsx" value="0">
              否
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>备注</label>
        <textarea class="form-control" name="bz"></textarea>
      </div>
    </div>
  </form>
  <%}else{%>
  <form role="form" id="collForm">
    <div class="row">
      <div class="form-group col-sm-6">
        <label>风险事件名称*</label>
        <input type="text" class="form-control" name="name" value="<%=row.name%>">
      </div>
      <div class="form-group col-sm-6">
        <label>是否生效</label>
        <div class="radio-wrapper">
          <div class="radio">
            <label>
              <input type="radio" name="sfsx" value="1" <%=(row.sfsx==1 ? 'checked' : '')%>>
              是
            </label>
          </div>
          <span></span>
          <div class="radio">
            <label>
              <input type="radio" name="sfsx" value="0" <%=(row.sfsx==0 ? 'checked' : '')%>>
              否
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>备注</label>
        <textarea class="form-control" name="bz"><%=row.bz%></textarea>
      </div>
    </div>
  </form>
  <%}%>
  
</div>