<div class="header-wrapper" data-child="2">
  <ul>
    <% if(list){ %>
    <%for(var i = 0; i < list.length; i++) { %>
    <% var item = list[i];%>
    <% if(item.children && item.children.length > 0){%>
    <% var cmenu = JSON.stringify(item.children); %>
    <li class="child" data-menu='<%=cmenu%>'>
      <a href="javascript:void(0)" class="menu_blank">
        <i class="fa <%=item.img%>"></i> <span><%=item.name%></span>
      </a>
    </li>
    <% }else{ %>
    <li class="child" data-mid="<%=item.id%>">
      <a href="<%=item.href%>" class="click_menu menu_type<%=item.type%>">
        <i class="fa <%=item.img%>"></i> <span><%=item.name%></span>
      </a>
      <span class="tipsNum" style="display:none">10</span>
    </li>
    <% } %>
    <% } %>
    <% } %>
  </ul>
</div>
<div class="header-wrapper header-wrapper-child" id="childWrap" data-child="3" style="display: none">

</div>